@import "tailwindcss";

/* Color variables */
:root {
  --color-blue: #8A9BFF;
  --color-red: #FF4141;
  --color-green: #54FF87;
  --color-background: #161616;
  --color-text: #D7D7D7;  
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.axis-label {
  font-weight: bold;
  font-size: 3em;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none
}

h2 {
cursor: text;
}

nav p {
  cursor: pointer;
  width: fit-content;
}

nav p:hover::before {
  content: '>';
  width: 100%;
  left: 0;
  margin-right: 2px;
}

nav p:nth-child(1):hover {
  color: var(--color-green);
}

nav p:nth-child(2):hover {
  color: var(--color-blue);
}

nav p:nth-child(3):hover {
  color: var(--color-red);
}