@import "tailwindcss";

/* Color variables */
:root {
  --color-primary: #6C67FF;
  --color-secondary: #FF6C67;
  --color-accent: #67FF6C;
  --color-background: #555555;
  --color-text: #737373;  
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}